psycopg2-binary
sqlalchemy
fastapi
uvicorn
sqlmodel
passlib[bcrypt]
pydantic
python-jose[cryptography]
python-multipart
pydantic[email]==2.9.2
python-dotenv
alembic
fastapi-mail
minio
pyxlsb
scipy
numpy_financial
pandas
numpy
python_dateutil
openpyxl
filelock
xlsxwriter
PyYAML
minio
msal
httpx
pytest
statsmodels
scikit-learn
celery
requests
APScheduler
tenacity
